.main-statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .card {
    min-width: 300px;
    width: 40%;
  }
}

.balance {
  display: flex;
  flex-direction: column;
}

