<div class="main-statistics m-5">
  <div class="card card-statistics">
    <div class="card-body">

      <div class="clearfix">
        <div class="float-left">
          <i class="fa fa-money-bill-alt text-success icon-lg"></i>
        </div>
        <div class="float-right">
          <p class="mb-0 text-right">Incomes</p>
          <div class="fluid-container">
            <h3 class="font-weight-medium text-right mb-0">
              {{ incomes | currency }}
            </h3>
          </div>
        </div>
      </div>
      <p class="text-muted mt-3 mb-0">
        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>
        {{ howManyIncomes }} incomes
      </p>
    </div>
  </div>

  <div class="card card-statistics">
    <div class="card-body">

      <div class="clearfix">
        <div class="float-left">
          <i class="fa fa-shipping-fast text-danger icon-lg"></i>
        </div>
        <div class="float-right">
          <p class="mb-0 text-right">Expenses</p>
          <div class="fluid-container">
            <h3 class="font-weight-medium text-right mb-0">
              {{ expenses | currency }}
            </h3>
          </div>
        </div>
      </div>
      <p class="text-muted mt-3 mb-0">
        <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>
        {{ howManyExpenses }} expenses
      </p>
    </div>
  </div>
</div>

<div class="balance m-5">
  
  <div class="card card-statistics">
    <div class="card-body">
      <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-building text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Balance</p>
            <div class="fluid-container">
              <h3 [ngClass]="{
                'text-success': incomes - expenses > 0,
                'text-danger': incomes - expenses < 0
              }"
                  class="font-weight-medium text-right mb-0">
                {{ incomes - expenses | currency }}
              </h3>
            </div>
          </div>
        </div>
      </div>    
    </div>

  <div class="card card-statistics" *ngIf="incomes > 0 || expenses > 0">
    <div class="card-body">
      <h1 class="card-title">Graphic</h1>

      <div>
        <div>
          <div style="display: block">
            <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              chartType="doughnut">
            </canvas>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>